*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
  background-color:rgb(249 250 251) ;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}
.navbar{
    
    width: 100%;
    padding: 20px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
.navbar-service{

  width: 100%;
  padding: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;

}
.navbar:hover{
    background-color:  rgb(249 250 251); 
}
.navbar:hover ul li a{
    color: rgb(72, 72, 72);
}
.logo-container{
position: relative;
width: 160px;
margin-left: 60px;
}
.logo{
   position: absolute;
    right: 1.2px;
    width: 100%;
    transition: opacity 0.5s ease; 
}
.logo1{

  right: 1px;
  width: 100%;
  transition: opacity 0.5s ease; 
}
.logo1{
    opacity: 0;
}
.navbar:hover .logo {
    opacity: 0;
}
.navbar:hover .logo1 {
    opacity: 1;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}
.navbar ul{
    margin-right: 50px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(249 250 251);
    font-weight: 600;
    padding: 15px;
    transition: 0.5s ;
}
.navbar ul li a,.navbar-service ul li a:hover{
  color: white(20, 23, 59);
}


.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.banner::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgb(0 0 0 / .8) 0%, rgb(0 0 0 / .6) 20%, #fff0 40%);
  z-index: 2;
  pointer-events: none;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}
/* map */
.sulawesi{
  background-image: linear-gradient(#caf6f8,rgb(249 250 251));
  text-align: center;
}
 .text-map{
  padding-top: 3rem;
 }
.int-map{
  font-size: 16px;
    letter-spacing: 3px;
    font-weight: 700;
}
.title-w-line{
  position: relative;
  overflow: hidden;
}

.title-section{
  font-size: 56px;
  font-family: "Playfair Display", serif;
}

.title-w-line .title-section{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.title-section::before{
  position: absolute;
  left: 100%;
  height: 4px;
  width: 140%;
  content: "";
  margin-left: 25px;
  background: rgb(20, 23, 59);
}
.title-section::after{
  position: absolute;
  right: 100%;
  height: 4px;
  width: 140%;
  content: "";
  margin-right: 25px;
  background: rgb(20, 23, 59);
}
.map-container{
 position: relative;
z-index: 1;
padding: 300px;
overflow: hidden;
justify-content: center;

}
.sulsel{
  position: absolute;
  width: 150px;
  margin-left: 247px;
  top: 269px;
  transition:0.2s; 
}
.sulsel:hover{
  filter: brightness(70%);
}
.sultra{
  position: absolute;
  width: 140px;
  margin-left: 338px;
  top: 307px;
  transition:0.2s; 
}

.sultra:hover{
  filter: brightness(70%);
}
.sulteng{
 position: absolute;
  width: 250px;
  margin-left: 256px;
  top:67px;
  transition:0.2s; 
}
.sulteng:hover{
  filter: brightness(70%);
}
.sulbar{
  position: absolute;
  width: 74px;
  margin-left: 212px;
  top: 204px;
  transition:0.2s; 
}
.sulbar:hover{
  filter: brightness(70%);
}
.sulut1{
  position: absolute;
  width: 150px;
  margin-left: 350px;
  top: 89px;
  transition:0.2s; 
}
.sulut1:hover{
  filter: brightness(70%);
}
.sulut2{
  position: absolute;
  width: 109px;
  margin-left: 483px;
  top: 48px;
  transition:0.2s; 
}
.sulut2:hover{
  filter: brightness(70%);
}
/* card slider */
.text-slider{
  margin-left: 50px;
}
.text-s1{
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 700;
}
.title-section1{
  font-size: 56px;
    font-family: "Playfair Display", serif;
    margin-bottom: 30px;
    width: 40%;
    color:rgb(20, 23, 59) ;
}
.slider-container {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  background-color: black;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  width: 368px !important;
  height: 456px !important;
  backface-visibility: hidden;

}

.swiper-slide img {
  width: 100%;
  height: 100%; /* Sesuaikan tinggi gambar */
  object-fit: cover;
  transition: transform 0.5s; /* Animation */
}
.swiper-slide img:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.swiper-slide:before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  left: 0;
  content: '';
  background: linear-gradient(rgb(0 0 0 / .01), rgb(0 0 0 / .9));
  z-index: 1;
}
.swiper-wrapper{
  will-change: transform;
  transform: translateZ(0);
}
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 25px;
  color: #fff;
  z-index: 2;
}

.card-content h3{
  margin-bottom: 0;
  padding: 0;
  align-items: end;
  font-size: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-content p{

  font-size: 14px;
  color: #d9d9d9;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.category {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 69, 0, 0.9);
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.swiper-button-prev, 
.swiper-button-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px !important;  /* Sesuaikan ukuran */
    height: 50px !important;
    z-index: 1000; /* Pastikan di atas */
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev {
    left: 80px !important; /* Sesuaikan posisi */
}

.swiper-button-next  {
    right: 80px !important; /* Sesuaikan posisi */
}

/* Atur ukuran gambar tombol */
.swiper-button-prev img,
.swiper-button-next img {
    width: 100% !important;  /* Sesuaikan dengan div */
    height: 100% !important;
    object-fit: contain;  /* Agar gambar tidak melar */
}
.swiper-button-prev::after, 
.swiper-button-next::after {
    display: none;
}
/* Swiper pagination */
.swiper-pagination {
    bottom: 15px !important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  display: none;
}

/* footer */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em;
  }
  .footer-section {
  max-width: 600px;
  }
  .footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(249 250 251);
  
  }
  .footer-section ul {
  list-style: none;
  padding: 0;
  }
  .footer-section ul li a img {
  margin-bottom: 5px;
  width:200px ;
  }
  .footer-section a {
  color: rgb(249 250 251);
  text-decoration: none;
  }
  .footer-section a:hover {
  text-decoration: underline;
  }
  footer p{
    color: rgb(249 250 251);
    text-align: center;
    padding-bottom: 2em;
  }
  .quick{
    display: flex;
    gap: 1em;
  }
  .copyright{
    padding-bottom: 20px;
    text-align: center;
    color:rgb(249 250 251) ;
  }
  .footer{
    background-color: rgb(20, 23, 59) ;
  }
  .about-text {
    position: absolute;
    max-width: 500px;
    color: white;
    font-style: sans-serif;
    margin-top: 150px;
    z-index: 1;
    margin-left: 150px;
  }
  .about-text h1 {
    font-size: 75px;
    font-family: "Playfair Display", serif;
  }
  .body-service{
    background-image: url(Aset/card2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .iframe {
    margin-left: 150px;
    margin-top: 50px;
  }
  .service{
    width: 100%;
    height: 100vh;
    display: block;
  }

  